@using System.Diagnostics
@using RouteData = Microsoft.AspNetCore.Routing.RouteData
@model IEnumerable<ProductModel>

<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-3">
            <h5>Kategoriler</h5>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="/Home/List" style="color: #9c33ff">
                        Tüm Ürünler
                    </a>
                </li>
                @foreach (var category in ViewBag.Categories)
                {
                    <li class="list-group-item">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="/Home/List/@category.CategoryId" style="color: #9c33ff">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            @if (Model.Count() == 0)
            {
                <div class="alert alert-danger" role="alert" style="display: inline">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    Bu kategoride bir ürün bulunmamaktadır
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert" style="display: inline">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    <strong>@Model.Count() adet</strong> ürün bulundu
                </div>
            }
            <div class="my-4"></div>
            @Html.Partial("_ProductCard", Model)
        </div>
    </div>
</div>