.jumbotron {

    background-image: url("img/bg.jpg");
    background-size: auto;
}

.card-title{
    font-size: 16px;
    font-weight: 400;
    color: #9c33ff;
    line-height: 1.35em;
    height: 34px;
}

.description{
    font-size: 12px;
    height: 40px;
}

.price{
    color: #a52834;
    font-weight: 700;
    font-size: 17px;
}

.buton{
   font-weight: bold;
    color: #a52834;
}


#product_details h1{
    font-size: 18px;
    font-weight: 700;
}


#write-review
{
    margin-left: -20px;
}
#product-price
{
    font-size: 30px;
    color: #9c33ff;
    
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}